#diferencia {
  display: flex;
  justify-content: center;

  h2 {
    font-size: 4em;
    font-weight: 800;
    color: $primary;
    font-weight: 800;

    span {
      color: $secondary;
    }
  }

  img {
    width: 99vw;
  }
}